<form method="POST" action="<<HOSTNAME>>task/">
<p>Sugggest a new translation:</p>
<p>Word: <b><<SOURCE_WORD>></b></p>
<p>Language pair: <<SOURCE_LANG_NAME>> = <<TARGET_LANG_NAME>></p>
<p>New:</p>
<p><<SOURCE_WORD>> = 
<input type="hidden" name="link" value="add">
<input type="hidden" name="source_language_code" value="<<SOURCE_LANG_CODE>>" />
<input type="hidden" name="source_word" value="<<SOURCE_WORD_URL>>" />
<input type="hidden" name="target_language_code" value="<<TARGET_LANG_CODE>>" />
<input type="input" name="target_word" size="20" maxlength="127" value="">
<input type="submit" value="Add">
</form>
