
<p>The Open Translation Engine (OTE) is a web-based translation dictionary manager.</p>

<p>This is prototype release <<VERSION>>, on the roadmap to a stable 1.0 release.</p>

<p>Documentation:
<br />- <a href="install.txt">Install Instructions</a>
<br />- <a href="changelog.txt">Change Log</a>
<br />- <a href="roadmap.txt">Development Roadmap</a>
<br />- <a href="developer.documentation.txt">Developer Documentation</a>
<br />- <a href="filesystem.txt">File System</a>
<br />- <a href="license.txt">Open Source License</a>
</p>

<p>More:
<br />Development - <a href="http://sourceforge.net/projects/ote/">OTE SourceForge Project Home</a>
<br />sample dictionaries - <a href="http://sourceforge.net/projects/dams/">Dictionary Additions Management System (DAMS)</a>
</p>
