<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xdxf SYSTEM "http://xdxf.revdanica.com/drafts/visual/latest/xdxf_lousy.dtd">
<xdxf lang_from="<<SOURCE_LANG_CODE>>" lang_to="<<TARGET_LANG_CODE>>" format="visual">
<full_name><<SOURCE_LANG_NAME>> = <<TARGET_LANG_NAME>></full_name>
<description>
  <<SOURCE_LANG_NAME>> = <<TARGET_LANG_NAME>>
  <<SOURCE_LANG_CODE>> = <<TARGET_LANG_CODE>>
  <<NUMBER_OF_ROWS>> Word Pairs
  Open Translation Engine <<VERSION>>
  <<HOSTNAME>>
  <<DATETIME>>
</description>
