<form>
<p>
 Export format:
 <br /><input type="radio" name="f" value="text" checked >Text format: delimiter: </input><input 
 type="text" size="2" name="d" value="\t"> &nbsp; &nbsp; for tab character use: \t</input>
 <br /><input type="radio" name="f" value="js">Javascript quickbox format</input>
 <br /><input type="radio" name="f" value="po">Gettext PO format</input>
 <br /><input type="radio" name="f" value="xdxf">XDXF format</input>
</p>
<p>
Language Pair:
 <br />
 <input type="radio" name="x" value="<<LANG_1_CODE>>">
 <<LANG_1_NAME>> &gt; <<LANG_2_NAME>>
 (<<COUNT_1_2>> word pairs)
 </input>
 <br />
 <input type="radio" name="x" value="<<LANG_2_CODE>>">
 <<LANG_2_NAME>> &gt; <<LANG_1_NAME>>
 (<<COUNT_2_1>> word pairs)
 </input>
</p>
<p><input type="submit" value="                          Export Dictionary                          "></p>
</form>