<script type="text/javascript">
function validate() {
 if ( document.import.x[0].checked || document.import.x[1].checked ) {
  return true;
 }
 alert('Please select a language pair');
 return false;
}
</script>
<form name="import" id="import" method="POST" onsubmit="return validate()">
<p><input type="radio" name="x" value="<<LANG_1_CODE>>"><<LANG_1_NAME>> &gt; <<LANG_2_NAME>>
</input></p>
<p><input type="radio" name="x" value="<<LANG_2_CODE>>"><<LANG_2_NAME>> &gt; <<LANG_1_NAME>>
</input></p>
<p>Delimiter: <input type="text" size="2" name="d" value="\t"> &nbsp; &nbsp; for tab character use: <code>\t<code> </p>
<p><input type="submit" value="     Import     "></p>
<textarea name="i" cols="50" rows="10"></textarea>
<p><input type="submit" value="     Import     "></p>
</form>
end