<form action="" method="POST">
<input type="hidden" name="a" value="register">
 <p>Username: <input type="text" name="u" size="25" maxlength="25" value="">
  <br />Allowed characters: a-z, A-Z, 0-9</p>
 <p>Email: <input type="text" name="e" size="25" maxlength="127" value="">
  <br />Allowed characters: A-Za-z0-9@-_+=%,;:.</p>
 <p>Password: <input type="password" name="p1" size="25" maxlength="25" value="">
  <br />Allowed characters: A-Za-z0-9@-_+=%,;:.</p>
 <p>Type Password Again: <input type="password" name="p2" size="25" maxlength="25" ></p>
 <p><input type="submit" value="               Register as new user               ">
</form>
<br /> &nbsp;
<br /> &nbsp;