
 <tr><td><br />&nbsp;</td><td> = </td><td colspan="2">
<form method="POST" action="<<HOSTNAME>>task/">
<input type="hidden" name="link" value="add">
<input type="hidden" name="source_language_code" value="<<SOURCE_LANG_CODE>>" />
<input type="hidden" name="source_word" value="<<SOURCE_WORD_URL>>" />
<input type="hidden" name="target_language_code" value="<<TARGET_LANG_CODE>>" />
<input type="input" name="target_word" size="15" maxlength="127" value="">
<input type="submit" value="Add">
</form>
 </td></tr>
 