# .dockerignore
.git
.gitattributes
.github
.idea
.vscode
.devcontainer
.editorconfig
.env
.env.example
.styleci.yml
.phpunit.result.cache
/node_modules
/vendor
/storage/app
/storage/framework
/storage/logs
/public/storage
/tests
/docs
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE
phpunit.xml
docker-compose.yml
compose.dev.yml
Dockerfile.dev
docker/development
docker/common
render.yaml
!docker/production
!docker/production/nginx/nginx.conf
!docker/production/start.sh
